<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>KATADAS2D</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <h1>KATADAS2D</h1>
    </header>

    <div id="wrapper">
        <div id="grid">
            <div id="crosshair-x"></div>
            <div id="crosshair-y"></div>
        </div>
    </div>

    <footer>
        <select id="productSelect"></select>
        <select id="issueSelect"></select>
        <button id="saveButton">CSVに保存</button>
        <div id="currentPath"></div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>

</html>